//====== COLORS ========//
//======================//

$aqua   	: #7FDBFF;
$blue   	: #0074D9;
$lime   	: #01FF70;
$navy   	: #001F3F;
$teal   	: #39CCCC;
$olive   	: #3D9970;
$green   	: #2ECC40;
$red   		: #FF4136;
$maroon   : #85144B;
$orange   : #FF851B;
$purple   : #B10DC9;
$yellow   : #FFDC00;
$fuchsia  : #F012BE;
$gray   	: #aaa;
$white   	: #fff;
$black   	: #111;
$silver   : #ddd;

//=== CUSTOM COLORS ====//
//======================//
$ci-bg : #F0F0F1;
$ci-green : #22B081;
$ci-blue : #196DB5;
$ci-red : #E63C52;
$ci-gray : #DDDDE1;
$ci-orange : #F49C47;

//====== Z INDEXES ======//
//=======================//
$index--2   : -200;
$index--1   : -100;
$index-0    : 0;
$index-1		: 100;
$index-2		: 200;
$index-3		: 300;
$index-4		: 400;
$index-5		: 500;
$index-6		: 600;
$index-7		: 700;
$index-8		: 800;
$index-9		: 900;
$index-10		: 1000;