.menu-l {
  background-color: #039BE5;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  text-align: center;
  height: 50px;
}

.menu-i {
  padding: 0;
  max-height: 50px;
  display: inline-block;
}

.menu-ia {
  max-height: 50px;
  padding: 1rem;
  font-size: 1.25rem;
  color: #FFF;
  text-decoration: none;
  display: block;
}

.menu-ia:hover{
  background-color: #0277BD;
}

.menu-ia--active{
  background-color: #0288D1;
}