.branch-i{
  @include span(1 of 1);
  background-color: $white;
  position : relative;
  padding : 0rem;
  color : $black + #666;
  border-bottom : 1px solid $silver + #111;
  position: relative;
  line-height: 37px;
  .icon-stack{
    font-size: 0.65rem;
  }
  &:hover{
    background-color: #fbfbfb;
    //cursor : pointer;
  }

  &.details-open{
    &:hover{
      background-color : $white;
    }
  }
}

@include breakpoint(900px 0px) {
  .branch-i{
    &:hover{
      background-color : $white;
    }
  }
}