.branch-i--header{
  padding : 0.7rem 0rem 0.7rem 0rem;
  font-size : 1.1rem;
  line-height: 2.25rem;
  color: $black + #333;
}

.Changelist-head{
  padding: 0rem 1rem 0rem 4.5rem;
}

.Owner-head{
  padding : 0rem 1rem;
}

.TimeStarted-head{
  padding : 0rem 1rem;
}

@include breakpoint (900px 0px) {
  .branch-i--header{
    display: none;
  }
}