.branch-i{
  
  &.status-passed{
    .Status,
    .StatusAlt{
      color : $ci-green;
    }
    .StatusColor{
      background-color : $ci-green;  
    }
  }

  &.status-pending{
    .Status,
    .StatusAlt{
      color : $ci-orange;
    }
    .StatusColor{
      background-color : $ci-orange;  
    }
  }

  &.status-running{
    .Status,
    .StatusAlt{
      color : $ci-blue;
    }
    .StatusColor{
      background-color : $ci-blue;  
    }
  }

  &.status-failed{
    .Status,
    .StatusAlt{
      color : $ci-red;
    }
    .StatusColor{
      background-color : $ci-red;  
    }
  }
}


.branch-i{
  &.details-open{
    .StatusColorGray{
      opacity: 1;
    }
  }
}