.Status{
  font-size : 1.2rem;
  .icon-stack{
    height : 20px;
  }
  opacity: 1;
  @include transition(200, opacity);
}

.branch-i{
  &.details-open{
    .Status{
      opacity: 0;
    }
  }
}

@include breakpoint(1200px 0px) {
  .Status{
    font-size : 1.1rem;
  }
}

@include breakpoint(900px 0px) {
  .branch-i{
    &.details-open{
      .Status{
        opacity: 1;
      }
    }
  }
  
  .Status{
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    label{
      display: block;
      font-size: 1.25rem;
      color : $gray;
    }
    .icon-stack{
      font-size: 0.75rem;
      height: 25px;
      width: 17px;
    }
  }
}