.StatusColor,
.StatusColorGray{
  position : absolute;
  top : 0rem;
  left : 0rem;
  bottom : 0rem;
  width : 7px;
  background-color: $silver;
  z-index: $index-1;
}

.StatusColorGray{
  z-index: $index-2;
  opacity: 0;
  @include transition(200);
}

@include breakpoint (900px 0px) {
  .StatusColor, .StatusColorGray{
    display: none;
  }
}