// Runner colors
.branch-i{
  &.status-passed{
    .runner-circle,
    .runner-stick{
      background-color : $ci-green;
    }
  }

  &.status-pending{
    .runner-circle,
    .runner-stick{
      background-color : $ci-orange;
    }
  }

  &.status-running{
    .runner-circle,
    .runner-stick{
      background-color : $ci-blue;
    }
    .runner-stick{
      //animation: move-bg-left 5s linear infinite;  
    }
  }

  &.status-failed{
    .runner-circle,
    .runner-stick{
      background-color : $ci-red;
    }
  }
}

.branch-i{
  &.status-passed,
  &.status-failed,
  &.status-running,
  &.status-pending{
    .runner-circle--empty{
      background-color : $silver;
    }
  }
}