.RunnerWrap{
  .RunnerProgress{
    position: absolute;
    height: 10px;
    top : (37px - 10px) / 2;
    right : 0px;
    left : 0px;
  }

  .Build,
  .UnitTest,
  .FunctionalTest{
    height : 37px;
    width : 37px;
    position: relative;
  }

  .Build{
    position: absolute;
    left : 0px;
    top : 0px;
  }

  .FunctionalTest{
    position: absolute;
    right : 0px;
    top : 0px;
  }

  .UnitTest{
    margin : auto;
  }

  .runner-circle{
    text-align: center;
    position: absolute;
    top : 5px;
    right : 5px;
    bottom : 5px;
    left : 5px;
  }

  .runner-stick{
    position : absolute;
    top : 3px;
    left : 10px;
    bottom : 3px;
    width : 0%;
  }

}

@include breakpoint(900px 0px) {
  .RunnerWrap{

    margin: 4rem 0rem 2rem 0rem;

    .mb{
      text-align: center;
      position : absolute;
      right : -20px;
      left : -20px;
      bottom : 120%;
      font-size: 1rem;
      line-height: 1.5rem;
    }

    .FunctionalTest{
      .mb{
        left : -40px;
      }
    }

    .RunnerProgress{
      position: absolute;
      height: 12px;
      top : (43px - 12px) / 2;
      right : 50px;
      left : 50px;
    }

    .Build,
    .UnitTest,
    .FunctionalTest{
      height : 43px;
      width : 43px;
      position: relative;
    }

    .Build{
      position: absolute;
      left : 43px;
      top : 0px;
    }

    .FunctionalTest{
      position: absolute;
      right : 43px;
      top : 0px;
    }

    .UnitTest{
      margin : auto;
    }

    .runner-circle{
      text-align: center;
      position: absolute;
      top : 5px;
      right : 5px;
      bottom : 5px;
      left : 5px;
    }

    .runner-stick{
      position : absolute;
      top : 3px;
      left : 10px;
      bottom : 3px;
      width : 0%;
    }
  }
}