@keyframes move-bg-left {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.RunnerWrap{
  margin: 1rem;
  height : 37px;
  position : relative;
  .RunnerProgress{
    background-color : $silver;
  }

  .Build,
  .UnitTest,
  .FunctionalTest{
    @include round-border;
    background-color: $silver;
  }

  .runner-circle{
    @include round-border;
    color : $white;
    line-height : 27px;
    font-size: 16px;    
    .icon-stack{
      height: 23.5px;
      font-size: 10px;
    }
    z-index: $index-2;
  }

  .runner-stick{
    z-index: $index-1;
    @include radius(10);
    background-image: linear-gradient(
      -45deg, 
      rgba(255, 255, 255, .2) 25%, 
      transparent 25%, 
      transparent 50%, 
      rgba(255, 255, 255, .2) 50%, 
      rgba(255, 255, 255, .2) 75%, 
      transparent 75%, 
      transparent
    );
    background-size : 6px 6px;
  }
}

.branch-i{
  &.status-running{
    .RunnerWrap{
      .runner-stick{
        animation : move-bg-left 6s linear infinite;
      }
    }
  }
}


@include breakpoint (900px 0px) {
  .RunnerWrap{
    .runner-circle{
      line-height: 32px;
      font-size: 22px;   
      .icon-stack{
        height: 32.5px;
        font-size: 14px;
      }
    }
  }
}