.build-debug{
  @include span(4 of 9);
}

.build-release{
  @include span(4 of 9);
}

.BuildDetails{
  .detail-title--w{
    padding-left: 0.65rem;
    @include span(42 of 100);
  }
  .detail-content--w{
    @include span(58 of 100);
    margin-top : 0.25rem;
  }
  .detail-title{
    letter-spacing: 1px;
  }

  &.status-running,
  &.status-pending{
    padding-top : 0.5rem;
    @include span(3 of 10);
    padding-left : 7rem;
    .detail-content--w{
      @include span(1 of 1);
    }
    .detail-title--w{
      padding-left: 0rem;
      @include span(1 of 1); 
    }
  }

  &.status-failed{
    @include span(28 of 100);
  }
}

@include breakpoint(1200px 0px) {
  .BuildDetails{
    &.status-pending,
    &.status-running{
      padding-left : 3rem;
    }
  }

  .BuildDetails{
    &.status-failed,
    &.status-passed{
      .detail-title--w,
      .detail-content--w{
        @include span(1 of 1);
      }

      .detail-title--w{
        padding-left : 0rem;
        .detail-title{
          @include span(2 of 5);
          line-height: 1.5rem;
        }
        .build-time{
          @include span(1 of 2);
          line-height : 1.5rem;
        }
      }

      .detail-content--w{
        margin-top : 1rem;
      }
    }
    &.status-failed{
      @include span(2.5 of 10);
    }
  }
}

@include breakpoint (900px 0px) {
  .BuildDetails{
    &.status-failed{
      @include span(2.7 of 10);
    }
  }
}

@include breakpoint(760px 0px) {
  .BuildDetails{
    &.status-failed,
    &.status-passed,
    &.status-running,
    &.status-pending,
    &.status-cantRun{
      @include span(1 of 1);
      padding-left : 0rem;
      
      .detail-title--w{
        text-align: center;
        .detail-title,
        .build-time{
          display: inline-block;
          width : auto;
          float: none;
        }
        .build-time{
          margin-left : 1rem;
        }
      }

      .detail-content--w{
        text-align: center;
        .build-debug,
        .build-release{
          display: inline-block;
          width: auto;
          float: none;
        }
        .build-release{
          padding-left : 3rem;
        }
      }
    }
  }
}