.details-cover{
  position: absolute;
  top : 0px;
  right : 0px;
  bottom : 0px;
  left : 0px;
  opacity: 5;
  z-index: $index-1;
  display: none;
}

.branch-i{
  &.status-passed{
    .details-cover{
      background-color : $ci-green;
    }
  }

  &.status-pending{
    .details-cover{
      background-color : $ci-orange;
    }
  }

  &.status-running{
    .details-cover{
      background-color : $ci-blue;
    }
  }

  &.status-failed{
    .details-cover{
      background-color : $ci-red;
    }
  }
}
