.branch-details{
  border-top : 1px solid $silver;
}

.details-seperator{
  font-size: 2.5rem;
  color: $silver;

  .icon-down{
    display: none;
  }
}

.detail-title,
.detail-status{
  font-weight : normal;
  margin : 0rem;
  font-size: 1.15rem;
  line-height: 2rem;
}

.detail-status--value{
  font-size : 1.25rem;
}

.detail-status--covarage{
  font-size : 1.6rem; 
}

.detail-status--label{
  font-size : 1rem;
  color : $black;
}

@include breakpoint(900px 0px) {
  .branch-details{
    border-top : 0px solid #fff;
  }
}

@include breakpoint(760px 0px) {
  .details-seperator{
    .icon-down{
      display: inline-block;
    }
    .icon-next{
      display: none;
    }
  }
}