.more{
  text-align : center;
  @include span(1 of 1);
  padding : 0.25rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color : $silver;
  font-size: 2rem;
  border-top : 1px solid $silver + #111;
  &:hover{
    background-color : $silver + #1a1a1a;
  }
}